<div class="breadcrumb-area bg-color ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-title text-center">
                    <h1>ِAbout Us</h1>
                    <div class="breadcrumb-menu">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h3>Our mission</h3>
    <div>
        We are Egyptian pharmaceutical support network for educational services, based in Egypt but serve all over the Arab world.
        We believe in the importance of pharmacists’ role in the healthcare team, and how they make difference in patients’ life.
        So we are here to provide all the medical courses that pharmacists need to show up in their career.
    </div>
    <br />

    <h3>Why us??</h3>
    <ul style="list-style: square; margin-left: 15px;">
        <li>
            Certified and experienced instructors
        </li>
        <li>Experiential and interactive workshops</li>
        <li>Tangible results</li>
        <li>Applying the productive learning</li>
        <li>Instant follow up and feedbacks</li>
        <li>Talk to our experts</li>

    </ul>
</div>


