@model IEnumerable<EPSN.Course_Lessons>
@{
    ViewBag.Title = "Lessons";
}
<div class="player-nav" style="margin-top:100px;">
    @foreach (var subItem in Model)
    {
    <div class="row">
        <div class="col-md-4">
            <div class="player-nav--inner">
                <div class="player-nav--mid">
                    <div class="player-nav--list">
                        <div>
                            <a data-toggle="collapse" class="current" href="#collapse@{@subItem.Id}" style="margin-left:-10px;">
                                <span class="player-nav--index">@subItem.Order_Number</span>
                                <div>
                                    <span class="icon-play">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                                        </svg>
                                    </span>
                                    <span class="player-nav--title">@subItem.Title</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="collapse@{@subItem.Id}" class="panel-collapse collapse" style=" margin: 0 auto;">
                <div class="mfp-hide" style="max-width:75%; margin: 0 auto">
                    <iframe src="@subItem.Type" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                   <div><a style="max-width:75%; margin: 0 auto;" href="@subItem.PDF" target="_blank">See Document</a>
                       </div> 
                </div>
            </div>
        </div>
    </div>




     }
</div>
